#accNumber{
    margin-left: 2px;  
}

#email{
    margin-left: 2px;
    
}

#text1{
    margin-left: 10px;
}

#button2{
    margin-top: 30px;
}

#homeList{
    margin-top: 13px;
}

#text2{
    margin-left: 10px;
}

#paymentList{
    margin-top: 11px;
}

#button3{
    margin-top: 15px;
}